.upload-page-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b66498;
    padding: 2em; /* Ajustar el espacio de padding según sea necesario */
  }
  
  .upload-h1 {
    text-align: center;
    font-weight: bold;
    padding: 9px 40px;
    margin-bottom: 15px;
    font-size: 40px;
  }

  .upload-file-upload-btn {
    align-items: center;
    display: block;
    font-weight: bold;
    padding: 9px 40px;
    border: 2px solid #772157;
    cursor: pointer;
    color: white;
    background-color: #5a2949;
    padding: 9px 40px;
    border-radius: 50px;
  }
  
  .upload-file-upload-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .upload-submit-btn {
    display: block;
    margin: 1em auto;
    font-weight: bold;
    padding: 9px 40px;
    background-color: #25091b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
  }
  
  .upload-submit-btn:hover {
    background-color: #5a2949;
    transform: scale(0.95);
  }